@using Logic_Interfaces_SuperElf
@using Microsoft.AspNetCore.Http
@model UI_SuperElf.Models.TeamCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create team</h1>
<p>Click on players in the menu to see all players.</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="teamId" class="control-label" hidden></label>
                <input asp-for="teamId" class="form-control" hidden />
                <span asp-validation-for="teamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userId" class="control-label" hidden></label>
                <input asp-for="userId" class="form-control" value="@Context.Session.GetInt32("_SessionUserId")" hidden />
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="formationId" class="control-label" hidden></label>
                <input asp-for="formationId" class="form-control" value="@Model.formationId" hidden />
                <span asp-validation-for="formationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="teamPoints" class="control-label" hidden></label>
                <input asp-for="teamPoints" class="form-control" value="0" hidden />
                <span asp-validation-for="teamPoints" class="text-danger"></span>
            </div>
            @if (@Model.formationId == 1) //4-4-2
            {
                <p>Formation: 4-4-2</p>
                <div class="form-group">
                    <label asp-for="playerId1" class="control-label"></label>
                    <select asp-for="playerId1" class="form-control">
                        <option>-Select goalkeeper-</option>
                        @foreach (IPlayer player in @Model.keepers)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId2" class="control-label"></label>
                    <select asp-for="playerId2" class="form-control">
                        <option>-Select defender-</option>
                        @foreach (IPlayer player in @Model.defenders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId3" class="control-label"></label>
                    <select asp-for="playerId3" class="form-control">
                        <option>-Select defender-</option>
                        @foreach (IPlayer player in @Model.defenders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId4" class="control-label"></label>
                    <select asp-for="playerId4" class="form-control">
                        <option>-Select defender-</option>
                        @foreach (IPlayer player in @Model.defenders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId4" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId5" class="control-label"></label>
                    <select asp-for="playerId5" class="form-control">
                        <option>-Select defender-</option>
                        @foreach (IPlayer player in @Model.defenders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId5" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId6" class="control-label"></label>
                    <select asp-for="playerId6" class="form-control">
                        <option>-Select midfielder-</option>
                        @foreach (IPlayer player in @Model.midfielders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId6" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId7" class="control-label"></label>
                    <select asp-for="playerId7" class="form-control">
                        <option>-Select midfielder-</option>
                        @foreach (IPlayer player in @Model.midfielders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId7" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId8" class="control-label"></label>
                    <select asp-for="playerId8" class="form-control">
                        <option>-Select midfielder-</option>
                        @foreach (IPlayer player in @Model.midfielders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId8" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId9" class="control-label"></label>
                    <select asp-for="playerId9" class="form-control">
                        <option>-Select midfielder-</option>
                        @foreach (IPlayer player in @Model.midfielders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId9" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId10" class="control-label"></label>
                    <select asp-for="playerId10" class="form-control">
                        <option>-Select forward-</option>
                        @foreach (IPlayer player in @Model.forwards)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId10" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId11" class="control-label"></label>
                    <select asp-for="playerId11" class="form-control">
                        <option>-Select forward-</option>
                        @foreach (IPlayer player in @Model.forwards)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId11" class="text-danger"></span>
                </div>
            }
            else if (@Model.formationId == 2) //4-3-3
            {
                <p>Formation: 4-3-3</p>
                <div class="form-group">
                    <label asp-for="playerId1" class="control-label"></label>
                    <select asp-for="playerId1" class="form-control">
                        <option>-Select goalkeeper-</option>
                        @foreach (IPlayer player in @Model.keepers)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId2" class="control-label"></label>
                    <select asp-for="playerId2" class="form-control">
                        <option>-Select defender-</option>
                        @foreach (IPlayer player in @Model.defenders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId3" class="control-label"></label>
                    <select asp-for="playerId3" class="form-control">
                        <option>-Select defender-</option>
                        @foreach (IPlayer player in @Model.defenders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId4" class="control-label"></label>
                    <select asp-for="playerId4" class="form-control">
                        <option>-Select defender-</option>
                        @foreach (IPlayer player in @Model.defenders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId4" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId5" class="control-label"></label>
                    <select asp-for="playerId5" class="form-control">
                        <option>-Select defender-</option>
                        @foreach (IPlayer player in @Model.defenders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId5" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId6" class="control-label"></label>
                    <select asp-for="playerId6" class="form-control">
                        <option>-Select midfielder-</option>
                        @foreach (IPlayer player in @Model.midfielders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId6" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId7" class="control-label"></label>
                    <select asp-for="playerId7" class="form-control">
                        <option>-Select midfielder-</option>
                        @foreach (IPlayer player in @Model.midfielders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId7" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId8" class="control-label"></label>
                    <select asp-for="playerId8" class="form-control">
                        <option>-Select midfielder-</option>
                        @foreach (IPlayer player in @Model.midfielders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId8" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId9" class="control-label"></label>
                    <select asp-for="playerId9" class="form-control">
                        <option>-Select forward-</option>
                        @foreach (IPlayer player in @Model.forwards)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId9" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId10" class="control-label"></label>
                    <select asp-for="playerId10" class="form-control">
                        <option>-Select forward-</option>
                        @foreach (IPlayer player in @Model.forwards)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId10" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId11" class="control-label"></label>
                    <select asp-for="playerId11" class="form-control">
                        <option>-Select forward-</option>
                        @foreach (IPlayer player in @Model.forwards)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId11" class="text-danger"></span>
                </div>
            }
            else if (@Model.formationId == 3) //3-4-3
            {
                <p>Formation: 3-4-3</p>
                <div class="form-group">
                    <label asp-for="playerId1" class="control-label"></label>
                    <select asp-for="playerId1" class="form-control">
                        <option>-Select goalkeeper-</option>
                        @foreach (IPlayer player in @Model.keepers)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId2" class="control-label"></label>
                    <select asp-for="playerId2" class="form-control">
                        <option>-Select defender-</option>
                        @foreach (IPlayer player in @Model.defenders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId3" class="control-label"></label>
                    <select asp-for="playerId3" class="form-control">
                        <option>-Select defender-</option>
                        @foreach (IPlayer player in @Model.defenders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId4" class="control-label"></label>
                    <select asp-for="playerId4" class="form-control">
                        <option>-Select defender-</option>
                        @foreach (IPlayer player in @Model.defenders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId4" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId5" class="control-label"></label>
                    <select asp-for="playerId5" class="form-control">
                        <option>-Select midfielder-</option>
                        @foreach (IPlayer player in @Model.midfielders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId5" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId6" class="control-label"></label>
                    <select asp-for="playerId6" class="form-control">
                        <option>-Select midfielder-</option>
                        @foreach (IPlayer player in @Model.midfielders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId6" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId7" class="control-label"></label>
                    <select asp-for="playerId7" class="form-control">
                        <option>-Select midfielder-</option>
                        @foreach (IPlayer player in @Model.midfielders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId7" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId8" class="control-label"></label>
                    <select asp-for="playerId8" class="form-control">
                        <option>-Select midfielder-</option>
                        @foreach (IPlayer player in @Model.midfielders)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId8" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId9" class="control-label"></label>
                    <select asp-for="playerId9" class="form-control">
                        <option>-Select forward-</option>
                        @foreach (IPlayer player in @Model.forwards)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId9" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId10" class="control-label"></label>
                    <select asp-for="playerId10" class="form-control">
                        <option>-Select forward-</option>
                        @foreach (IPlayer player in @Model.forwards)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId10" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerId11" class="control-label"></label>
                    <select asp-for="playerId11" class="form-control">
                        <option>-Select forward-</option>
                        @foreach (IPlayer player in @Model.forwards)
                        {
                            <option value="@player.playerId"> @player.playerName </option>
                        }
                    </select>
                    <span asp-validation-for="playerId11" class="text-danger"></span>
                </div>
            }
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a class="btn btn-danger" asp-action="ChooseTeamFormation">Change formation</a>
            <a class="btn btn-danger" asp-action="Index" asp-controller="Home">Cancel</a>
        </div>
        </form>
    </div>
</div>
