@using Logic_Interfaces_SuperElf
@using SharedFiles
@model UI_SuperElf.Models.MyTeamViewModel

@{
    ViewData["Title"] = "MyTeam";
}

<h1>My Team</h1>

@if (@Model.Players.Count != 0)
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.formation)
            </dt>
            <dd class="col-sm-10">
                @foreach (IFormation formation in @Model.formations)
                {
                    if (formation.formationId == @Model.formation)
                    {
                        @formation.formationName
                        ;
                        break;
                    }
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.teamPoints)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.teamPoints)
            </dd>
        </dl>
    </div>
    <hr />
    <div align="center">
        <strong>
            <dl>
                @foreach (IPlayer player in @Model.Players)
                {
                    if (player.position == Position.Goalkeeper)
                    {
                        @player.playerName
                    }
                }
                <br />
                <br />
                @foreach (IPlayer player in @Model.Players)
                {
                    if (player.position == Position.Defender)
                    {
                        @:&nbsp;
                        @player.playerName
                        @:&nbsp;
                    }
                }
                <br />
                <br />
                @foreach (IPlayer player in @Model.Players)
                {
                    if (player.position == Position.Midfielder)
                    {
                        @:&nbsp;
                        @player.playerName
                        @:&nbsp;
                    }
                }
                <br />
                <br />
                @foreach (IPlayer player in @Model.Players)
                {
                    if (player.position == Position.Forward)
                    {
                        @:&nbsp;
                        @player.playerName
                        @:&nbsp;
                    }
                }
            </dl>
        </strong>
    </div>
    <hr />
}
else
{
    <p>
        You currently have no team.
    </p>
    <a class="btn btn-primary" asp-action="ChooseTeamFormation">Create team</a>
}
