@using Logic_Interfaces_SuperElf
@using Microsoft.AspNetCore.Http
@model UI_SuperElf.Models.ClubCreateViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Clubinfo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clubName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.clubName)
            @if ((Context.Session.GetString("_SessionIsAdmin") == "True"))
            {
                <a class="btn-sm btn-primary" asp-action="EditName" asp-route-id="@Model.clubId">Edit</a>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.competitionId)
        </dt>
        <dd class="col-sm-10">
            @foreach (ICompetition competition in Model.allCompetitions)
            {
                if (Model.competitionId == competition.competitionId)
                {
                    @Html.DisplayFor(modelItem => competition.competitionName)
                    break;
                }
            }
            @if ((Context.Session.GetString("_SessionIsAdmin") == "True") || ((Context.Session.GetString("_SessionIsMod") == "True")))
            {
                <a class="btn-sm btn-primary" asp-action="EditCompetition" asp-route-id="@Model.clubId">Edit</a>
            }
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-danger" asp-action="Index">Back to clubs</a>
</div>