@model UI_SuperElf.Models.UserViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Userinfo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.emailaddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.emailaddress)
            <a class="btn-sm btn-primary" asp-action="EditEmail" asp-route-id="@Model.userId">Edit</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userName)
            <a class="btn-sm btn-primary" asp-action="EditUserName" asp-route-id="@Model.userId">Edit</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.firstName)
            <a class="btn-sm btn-primary" asp-action="EditName" asp-route-id="@Model.userId">Edit</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.lastName)
            <a class="btn-sm btn-primary" asp-action="EditName" asp-route-id="@Model.userId">Edit</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isAdmin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isAdmin)
            <a class="btn-sm btn-primary" asp-action="EditPermissions" asp-route-id="@Model.userId">Edit</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isModerator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isModerator)
            <a class="btn-sm btn-primary" asp-action="EditPermissions" asp-route-id="@Model.userId">Edit</a>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-danger" asp-action="Index">Back to players</a>
</div>
