@using Microsoft.AspNetCore.Http
@model UI_SuperElf.Models.UserPipeline

@{
    ViewData["Title"] = "Users";
}
@section Scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    @if (Context.Session.GetString("_SessionBlackMode") == "True")
    {
        <script type="text/javascript">
            $(document).ready(function () {
                var dt = $('#user_table').DataTable({
                    "paging": false,
                    "scrollY": "65vh",
                    "scrollCollapse": true,
                    "rowCallback": function () {
                        {
                            $('td').css('background', 'rgb(31,31,35)');
                            $('td').css('color', 'rgb(239,239,241)');
                            $('div').css('color', 'rgb(239,239,241)');
                            $('input').css('color', 'rgb(239,239,241)');
                        }
                    }
                });
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            $(document).ready(function() {
                var dt = $('#user_table').DataTable({
                    "paging": false,
                    "scrollY": "65vh",
                    "scrollCollapse": true
                });
            });
        </script>
    }
    }
    <h1>Users</h1>
    @if ((Context.Session.GetString("_SessionIsAdmin") == "True") || ((Context.Session.GetString("_SessionIsMod") == "True")))
    {
        <table id="user_table" class="table">
            <thead class="table-borderless table-dark" style="background-color: rgb(0, 142, 68)">
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Email Address
                    </th>
                    <th>
                        Is admin
                    </th>
                    <th>
                        Is Moderator
                    </th>
                    <th>
                        @if ((Context.Session.GetString("_SessionIsAdmin") == "True"))
                        {
                            <a class="btn-sm btn-danger" asp-action="Create">Add user</a>
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in @Model.Users)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => user.firstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.lastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.userName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.emailaddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.isAdmin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.isModerator)
                        </td>
                        <td>
                            <div>
                                <a class="btn-sm" style="background-color: rgb(0, 142, 68); color: white" asp-action="Details" asp-route-id="@user.userId">Details</a>
                                @if ((Context.Session.GetString("_SessionIsAdmin") == "True"))
                                {
                                    <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@user.userId"> Delete </a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>
            You are not signed in or you have no permissions to be on this page.
        </p>
    }