@using Logic_SuperElf
@model UI_SuperElf.Models.PlayerCreateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit playername</h1>
<h4>@Model.playerName</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditName">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="playerId" class="control-label" hidden></label>
                <input asp-for="playerId" class="form-control" hidden />
                <span asp-validation-for="playerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="playerName" class="control-label"></label>
                <input asp-for="playerName" class="form-control" />
                <span asp-validation-for="playerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="position" class="control-label" hidden></label>
                <select asp-for="position" class="form-control" hidden asp-items="@Html.GetEnumSelectList<SharedFiles.Position>()"> <option>Select position</option> </select>
                <span asp-validation-for="position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="club" class="control-label" hidden></label>
                <select asp-for="club" class="form-control" hidden>
                    <option>Select club</option>
                    @foreach (Club club in @Model.allClubs)
                    {
                        <option value="@club.clubId"> @club.clubName </option>
                    }
                </select>
                <span asp-validation-for="club" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-success" /> |
                <a class="btn btn-danger" asp-action="Details" asp-route-id="@Model.playerId">Back to player</a>
            </div>
        </form>
    </div>
</div>